<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Meu nome é {{name}}</p>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>index</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{@index}}</td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{#date}}{{/date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>